.offer {
  padding: 70px 0 100px 0;
  position: relative;
 
  @include tablets-xl {
    padding-bottom: 30px;
  }

  .container {
    display: flex;
    justify-content: space-between;

    @include tablets-xl {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .bgc_y {
    position: absolute;
    max-width: 1109px;
    max-height: 780px;
    background: rgba(243, 255, 222, 0.45);
    z-index: -1;
    top: 50px;
  }

  &__text {
    max-width: 580px;

    @include tablets {
      padding: 0 40px;
      margin-bottom: 20px;
      text-align: center;
    }
  }

  &__descr {
    font-size: 18px;
    margin-top: 30px;
    font-weight: 300;
    line-height: 24px;

    @include tablets-xl {
      margin-bottom: 20px;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include phones-l {
      margin: 0 auto;
    }
  }

  &__advantages {
    width: 330px;
    margin-top: 50px;

    @include tablets-xl {
      width: 60%;
      margin-top: 0;
    }

    @include phones-l {
      margin: 0 auto;
      padding: 20px 0;
      text-align: center;
    }

    h2 {
      font-weight: 700;
      font-size: 20px;
      margin-top: 20px;

      @include tablets-xl {
        text-align: center;
      }
      &:first-child {
        margin-top: 70px;

        @include phones-l {
          margin-top: 0;
        }
      }
    }

    &-text {
      margin-top: 20px;
      font-size: 18px;
      font-weight: 300;
      line-height: 21px;
    }
  }

  &__slider {
    max-width: 650px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include tablets {
      max-width: 100%;
    }

    &-counter {
      display: flex;
      max-width: 180px;
      align-items: center;
      font-size: 24px;
      color: rgba(0, 0, 0, 0.5);

      @include phones-l {
        margin: 0 auto;
      }
    }

    &-wrapper {
      width: 100%;
      margin-top: 15px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    }

    &-prev {
      margin-right: 10px;
      cursor: pointer;
    }

    &-next {
      margin-left: 10px;
      cursor: pointer;
    }

    #current {
      font-size: 48px;
      font-weight: 700;
      color: #000;
    }
  }

  &__slide {
    width: 100%;
    height: 390px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
